<%- contentFor('hero') %>

<section class="hero">
	<div class="hero-content">
		<h2>Resume</h2>
		<p>Public Services Librarian</p>
	</div>
</section>

<%- contentFor('body') %>
Children's Librarian, Seattle Public Library 