<%- contentFor('hero') %>

<section class="hero contact">
      <div class="hero-content">
            <h2>Contact</h2>
            <p>Say hello</p>
      </div>
</section>

<%- contentFor('body') %>
<!-- error message -->
<main>
      <h3>Email Contact Form</h3>
<!-- Form		 -->
		<div class="form">
			<form action= "/contact", name="contactus", id="contactus", method="post">
    			<fieldset>
      				<p><label for='name'> Name:</label> 
      				<br> 
      				<input name='name', type='text', value='', id='name')>
      				<p><label for='email'> Email:</label> 
      				<br> 
      				<input name='email', type='text', value='', id='email'>
      				<p><label for='message'> Message:</label> 
      				<br> 
      				<textarea name='message', cols='40', rows='10', id='message'></textarea>
      				<p><input name='submit', type='submit', value='Send', id='submit'> 
      			</fieldset>
      		</form> 

		</div>
<br>
<br>
<br>
      <h3>Follow me on social media.</h3>
<!-- Twitter Button -->
      <a class="twitter-follow-button"
      href="https://twitter.com/amandagracehua"
      data-size="large"
      data-show-count="false"></a>

      <script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>

<br>
<!-- Instagram Button -->
<style>.ig-b- { display: inline-block; }
.ig-b- img { visibility: hidden; }
.ig-b-:hover { background-position: 0 -60px; } .ig-b-:active { background-position: 0 -120px; }
.ig-b-v-24 { width: 137px; height: 24px; background: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24.png) no-repeat 0 0; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
.ig-b-v-24 { background-image: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24@2x.png); background-size: 160px 178px; } }</style>
<a href="https://www.instagram.com/pooreamanda/?ref=badge" class="ig-b- ig-b-v-24"><img src="//badges.instagram.com/static/images/ig-badge-view-24.png" alt="Instagram" /></a>

</main>


