<%- contentFor('hero') %>

<section class="hero">
	<div class="hero-content">
		<h2>Contact Me</h2>
		<p>I'd love to hear from you.</p>
	</div>
</section>

<%- contentFor('body') %>
Whether you are an MLS student starting out with professional questions, a librarian looking for peer-to-peer learning, or a library looking for a new dynamic team member, drop me a line!