  	<main>
  	</header><h1> Contact Me </h1>
		<div class="form">
			<form action= "/contact", name="contactus", id="contactus", method="post">
    			<fieldset>
      				<p><label for='name'> Name:</label> 
      				<br> 
      				<input name='name', type='text', value='', id='name')>
      				<p><label for='email'> Email:</label> 
      				<br> 
      				<input name='email', type='text', value='', id='email'>
      				<p><label for='message'> Message:</label> 
      				<br> 
      				<textarea name='message', cols='40', rows='10', id='message'></textarea>
      				<p><input name='submit', type='submit', value='Send', id='submit'> 
      			</fieldset>
      		</form> 
		</div>
	</main>


