<%- contentFor('hero') %>

<section class="hero resume">
	<div class="hero-content">
		<h2>Education</h2>
		<p>What I've learned</p>
	</div>
</section>

<%- contentFor('body') %>

<h2>UNIVERSITY</h2>
<h3>University of North Texas   2011-2013</h3>
Masters of Library and Information Sciences, Youth Services Concentration 

<h3>University of Texas at Arlington   2007-2011</h3>
BFA Art + Art History, Film/Video Concentration

<h2>PROFESSIONAL DEVELOPMENT</h2>
<h3>University of North Texas   2011-2013</h3>
Masters of Library and Information Sciences, Youth Services Concentration 

<h3>University of Texas at Arlington   2007-2011</h3>
BFA Art + Art History, Film/Video Concentration

<h2>PROFESSIONAL ORGANIZATIONS</h2>
<h3>Washington Library Association</h3> 			   	   
	<ul>
		<li>CAYAS Interest Group</li>
		<li>WALT Interest Group</li>
	</ul>

<h2>CERTIFICATIONS</h2>
Washington State Library 				
Librarian’s Certification