<%- contentFor('hero') %>

<section class="hero resume">
	<div class="hero-content">
		<h2>Experience</h2>
		<p>Where I've been</p>
	</div>
</section>

<%- contentFor('body') %>

<h2>SUMMARY</h2>
<p>Public Services Librarian with over six years of experience in public libraries providing services for youth and adults in public libraries and out in the community. MLS with a concentration in Youth Services.</p> 

<h2>PROFESSIONAL WORK EXPERIENCE</h2> 
<h3>Children’s Librarian, <a href="http://www.spl.org">Seattle Public Library</a>, Seattle, WA</h3>   
<h4>August 2016 - January 2017</h4>
<p>Children’s Librarian for the <a href="http://http://www.spl.org/locations/high-point-branch">High Point Branch.</a> Temporary 6 month position. 
	<ul>
		<li>Planned and implemented children’s programming.</li> 
		<li>Maintained youth collections at the branch level.</li>
		<li>Provided outreach with community partners.</li> 
		<li>Planned, led, and implemented weekly <a href="http://http://www.spl.org/audiences/all-ages/tinkerlab">Tinkerlab</a> maker programs for all ages.</li> 
		<li>Filled in for teen programing such as Math Buddies, Game On, and Hour of Code.</li> 
		<li>Worked in a diverse, immigrant community near mixed income housing.</li>
	</ul>
<p/> 

<h3>LIP Librarian, Seattle Public Library, Seattle, WA</h3>  
<h4>November 2015 - July 2016</h4>
Substitute Librarian.  Provided reference and readers’ advisory. Assisted branch staff in doing other duties as needed.

<h3>Youth Services Coordinator, <a href="http://www.wascocountylibrary.com/">The Dalles-Wasco County Library</a>, The Dalles, OR</h3>   
<h4>March 2015 - July 2015</h4>
<p>Youth services manager. 
	<ul>
		<li>Supervised the Teen Librarian and library clerks.</li> 
		<li>Weeded and purchased youth materials, managing YS budget.</li>
		<li>Planned, led, and implemented weekly story time programs.</li>
		<li>Planned and implemented Summer of Learning program.</li>
		<li>Coordinated library programming with community partners and with paid presenters.</li>
	</ul>
</p>

<h3>Librarian, <a href="http://www.epls.org/">Everett Public Library</a>, Everett, WA</h3>  
<h4>January 2015 - June 2016</h4>
<p>Substitute Librarian.  Provided reference and readers’ advisory. Planned and implemented story times and filled in doing other duties as needed.</p>

<h3>Associate Librarian, <a href="http://www.everettcc.edu/library">Everett Community College</a>, Everett, WA</h3>  
<h4>November 2014 - November 2015</h4>
<p>Substitute librarian. Provided reference, research training and technology assistance to students. Used databases and other library resources to assist students and faculty.</p>

<h3>Youth Services Librarian, <a href="http://www.thecolonypl.org">The Colony Public Library</a>, The Colony, TX</h3>   
<h4>February 2013 - July 2014</h4>
<p>Youth services manager. 
	<ul>
		<li>Supervised a youth services assistant and two support clerks.</li> 
		<li>Maintained YS department budget and collection.</li>
		<li>Weeded the young adult sections, resulting in double the check out.</li> 
		<li>Planned an All Staff day; planned and implemented training for new library software and coordinated with local police to provide active shooter training.</li> 
		<li>Planned, led, and implemented library programs for all ages such as Story Time, Teen Advisory Board, Summer Reading Club, Anime Club, Pokemon Tournaments, and Harry Potter night.</li> 
	</ul>
</p>

<h3>Youth Librarian Assistant, <a href="http://www.friscolibrary.com">Frisco Public Library</a>, Frisco, TX</h3>  
<h4>September 2011 - January 2013</h4>
<p>
	<ul>
		<li>Focused on children's information services and customer service.</li> 
		<li>Created and ran children’s programming.</li> 
		<li>Worked in special teams in a fast-paced environment.</li>
		<li>Planned the annual Martin Luther King Jr. Day event.</li>
		<li>Planned and implemented library programs such as story time, mobile photography class, and anime club.</li>
		<li>Supervised teen volunteers and gave quarterly volunteer orientations.</li>
	</ul>
</p> 

<h3>Teen Library Associate, <a href="http://www.arlingtonlibrary.org">Arlington Public Library</a>, Arlington, TX</h3>   
<h4>August 2010 - January 2013</h4>
<p>
	<ul>
		<li>Focused on teen services and customer service. Created and ran teen programming.</li> 
		<li>Planned and implemented teen technology and life skills classes on topics such as Scratch, iMovie, Podcasts, Word, Job Search, College Search, Filmmaking, and Writing.</li>
	</ul>
</p> 

<h2>VOLUNTEER WORK EXPERIENCE</h2> 
<h3>Programming Outreach Coordinator, <a href="http://geekgirlcon.com/">GeekGirlCon</a>, Seattle, WA</h3>   
<h4>February 2017-Current</h4>
<p>Coordinate with community partners to provide year-round programming for GeekGirlCon and table community events.</p>  

<h3><a href="http://www.wtbbl.org">Washington Talking Book and Braille Library</a>, Seattle, WA</h3>   
<h4>February 2017-Current</h4>
<p>Assist Youth Services LIbrarian with displays, grant proofreading, and preparing for the Washington Braille Challenge. Assist Readers’ Advisory team in entering material request forms.</p>  

<h3><a href="http://www.lamberthouse.org">Lambert House</a>, Seattle, WA</h3>   
<h4>February 2017-Current</h4>
<p>Assist program manager with grant applications for LGBTQ teen programs and social services.</p> 


