<%- contentFor('hero') %>

<section class="hero">
	<div class="hero-content">
		<h2>Amanda Grace Hua</h2>
		<p>Public Services Librarian</p>
	</div>
</section>

<%- contentFor('body') %>

<h2 align="center">Welcome!</h2>
<p> <img 
	src="../img/guitar.jpg" 
	alt="Amanda" 
	width="457.25" 
	height="321" 
	align="left" 
	style="padding: 20px"
	 /><br>Dear Visitor,<br><br>Thank you for visiting my professional resume website. I'm a librarian with over 6 years' experience in public services. As an exercise in learning how to code and to add that skill set to my tool belt, I have built this website. If you have any questions about my resume, website building, or public librarianship, please visit the <a href="/contact">contact page</a> to drop me a line.</p> 
<br>
Best,
<br>
Amanda 
<br>
<br>


 
	