<%- contentFor('hero') %>

<section class="hero">
	<div class="hero-content">
		<h2>Hello World</h2>
		<p>I'd love to work with you</p>
	</div>
</section>

<%- contentFor('body') %>

<h1 align="center">AMANDA GRACE HUA</h1>
<h2 align="center">Public Services Librarian</h2>
  <br>
  <br>
	<p>I'm a librarian with over 6 years' experience in public services. I began my career in the Dallas-Fort Worth area of Texas and moved to Seattle, WA in 2014. Since then I have worked for several library systems in the area, including the Seattle Public Library. I am a fierce advocate for Intellectual Freedom and have a passion for serving youth and immigrant families in libraries. As an exercise in learning how to code, I have built this website. If you have any questions about my resume, website building, or public librarianship, please feel free to <a href="mailto:amandagracehua@gmail.com">contact me</a>.
	</p> 
	<br>
	<br>


 
	