<%- contentFor('hero') %>

<section class="hero">
	<div class="hero-content">
		<h2>Amanda Grace Hua</h2>
		<p>Public Services Librarian</p>

		<a href="/about" class="btn btn-lg btn-primary">Resume</a>
		<a href="/contact" class="btn btn-lg btn-primary">Contact</a>
	</div>
</section>

<%- contentFor('body') %>
Amanda is a librarian with over 6 years' experience in public services. 
	