<%- contentFor('hero') %>

<section class="hero resume">
	<div class="hero-content">
		<h2>Skills</h2>
		<p>What I can do</p>
	</div>
</section>

<%- contentFor('body') %>

<h2>CUSTOMER SERVICE SKILLS</h2>
	<ul>
		<li>Information and research specialist.</li>
		<li>Proficient in many different ILS.</li>
		<li>Online resource expert: WorldCat, Zinio, Hoopla, Mango Languages, Reference USA, Ancestry.com, OverDrive, OneClickDigital, EbscoHost, Freegal, etc.</li>
		<li>Savvy technology nerd for iPads, eReaders, and other mobile devices.</li>
		<li>Video writing, planning, shooting, and editing.</li>
		<li>Website Development using HTML/CSS, JavaScript, Node.js.</li>
	</ul>

<h2>TECHNOLOGY SKILLS</h2>
	<ul>
		<li>Information and research specialist.</li>
		<li>Proficient in many different ILS.</li>
		<li>Online resource expert: WorldCat, Zinio, Hoopla, Mango Languages, Reference USA, Ancestry.com, OverDrive, OneClickDigital, EbscoHost, Freegal, etc.</li>
		<li>Savvy technology nerd for iPads, eReaders, and other mobile devices.</li>
		<li>Video writing, planning, shooting, and editing.</li>
		<li>Website Development using HTML/CSS, JavaScript, Node.js.</li>
	</ul>

<h2>COMMUNITY OUTREACH SKILLS</h2>
	<ul>
		<li>Information and research specialist.</li>
		<li>Proficient in many different ILS.</li>
		<li>Online resource expert: WorldCat, Zinio, Hoopla, Mango Languages, Reference USA, Ancestry.com, OverDrive, OneClickDigital, EbscoHost, Freegal, etc.</li>
		<li>Savvy technology nerd for iPads, eReaders, and other mobile devices.</li>
		<li>Video writing, planning, shooting, and editing.</li>
		<li>Website Development using HTML/CSS, JavaScript, Node.js.</li>
	</ul>